---
import { homeIcon, profileIcon, capabilitiesIcon, creationsIcon, logIcon, credentialsIcon, connectIcon, explorerIcon } from './icons';
---

<ul class="nav-links">
    <li><a href="/"><Fragment set:html={homeIcon} /><span>Start</span></a></li>
    <li><a href="/bio/index"><Fragment set:html={profileIcon} /><span>Profile</span></a></li>
    <li><a href="/services/index"><Fragment set:html={capabilitiesIcon} /><span>Capabilities</span></a></li>
    <li><a href="/projects/index"><Fragment set:html={creationsIcon} /><span>Creations</span></a></li>
    <li><a href="/thoughts/index"><Fragment set:html={logIcon} /><span>Log</span></a></li>
    <li><a href="/resume/index"><Fragment set:html={credentialsIcon} /><span>Credentials</span></a></li>
    <li><a href="/forms/index"><Fragment set:html={connectIcon} /><span>Connect</span></a></li>
    <li><a href="/directory/index"><Fragment set:html={explorerIcon} /><span>Explorer</span></a></li>
</ul>